
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Advantshop-2021</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/slider.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/from-big-text.css">
    <link rel="stylesheet" href="/css/category-body.css">
    <link rel="stylesheet" href="~/css/catalog.css">
    <link rel="stylesheet" href="~/css/cart.css">
    <script src="/js/jq.js"></script>
    <script src="/js/scripts.js"></script>
</head>
<body>
    <div class="up-header">
        <div class="left-group">
            <div class="group26">
                <a href="" class="text-city-link">
                    <img src="/img/svg/Path.svg" alt="" class="text-city-img">
                </a>
                <div class="text-group26">Москва</div>
            </div>
            <div class="text-tel-number">
                <span class="left-item-number">8 800 550 83 13</span>
                <span class="left-item-text">Заказать звонок</span>
            </div>
        </div>
        <a href="" class="right-group-text">Вход и регистрация</a>
    </div>
    <div class="header">
        <img src="/img/svg/basket-num.svg" alt="" class="basket-header">
        <div class="header_logo">
            <a href="/" class="header_logo-link">
                <img src="/img/svg/advantshop.svg" alt="Advantshop-2021" class="header_logo-pic">
            </a>
        </div>
        <div class="search-line">
            <img src="/img/svg/search.svg" alt="" class="search-icon-img">
            <div class="search-text">Поиск по товарам</div>
        </div>
        <div class="icons-group">
            <a href="">
                <img src="/img/svg/heart.svg" class="icons-group-img" alt="">
            </a>
            <a href="">
                <img src="/img/svg/comparer.svg" class="icons-group-img" alt="">
            </a>
            <a href="basket.html">
                <img src="/img/svg/basket.svg" class="icons-group-img" alt="">
            </a>
        </div>
        <a href="basket.html" class="text-basket">Корзина</a>
    </div>
    <div class="layout">
        <div class="sidebar">
            <div class="group27">
                <a href="/Categories/List/catalog" class="group27-items">
                    <img src="/img/svg/burger.svg" alt="" class="burger-img">
                    <div class="group27-text">Каталог товаров</div>
                </a>
            </div>
            <nav class="menu">
                <ul class="menu-list">
                    @RenderSection("menulist")
                </ul>
            </nav>
            <div class="g33-articles">
                <span class="g33-articles-header">Статьи</span>
                <div class="g33-content">
                    <a href="" class="g33-article-header">
                        Меган Фокс в апрельском номере журнала Jalouse
                        <div class="g33-article-date"> 03 апреля 2015</div>
                    </a>
                    <a href="" class="g33-article-header">
                        Состоялся показ Armani Prive на Неделе высокой моды в Париже
                        <div class="g33-article-date">11 марта 2015</div>
                    </a>
                    <a href="" class="g33-article-header">
                        Облачные перспективы Windows-8
                        <div class="g33-article-date">11 февраля 2015</div>
                    </a>
                    <a href="" class="g33-more-info">Все новости</a>
                </div>
            </div>
            <div class="check-order-status">
                <span class="check-order-header">Проверить статус заказа</span>
                <input type="text" class="input-check" id="order-name" placeholder="Введите номер заказа" required="" />
                <button class="button-check">Проверить</button>
            </div>
            <div class="poll">
                <span class="poll-header">Опрос</span>
                <span class="poll-question">Как вам новый дизайн?</span>
                <label class="label-poll-first">
                    <input id="r2-poll-f" type="radio" class="buttons-poll" name="r" value="2-p">
                    <span class="fake-poll"></span>
                    <span class="fake-poll-selected"></span>
                </label>
                <label class="label-poll-center">
                    <input id="r2-poll-c" type="radio" class="buttons-poll" name="r" value="2-p">
                    <span class="fake-poll"></span>
                    <span class="fake-poll-selected"></span>
                </label>
                <label class="label-poll-last">
                    <input id="r2-poll-l" type="radio" class="buttons-poll" name="r" value="2-p">
                    <span class="fake-poll"></span>
                    <span class="fake-poll-selected"></span>
                </label>
                <div class="questions-text">
                    <span class="question-text-first">Очень удобно!</span>
                    <span class="question-text-center">Не пользуюсь, хватает одной темы</span>
                    <span class="question-text-last">Что такое трансформер?</span>
                </div>
                <button class="button-poll">Голосовать</button>
            </div>
            <div class="vk-group-block">
                <a href="https://vk.com/advantshop" class="vk-group">
                    <img src="/img/svg/vk.svg" alt="" class="vk">
                </a>
            </div>
        </div>
        <div class="content">
            <nav class="main-nav">
                <ul class="nav-list">
                    <li>
                        <a href="" class="nav-list-item">
                            <div class="drop-list-header">
                                <span class="drop-list-header-text">О магазине</span>
                                <img src="/img/svg/dropper.svg" alt="" class="drop-list-header-img">
                            </div>
                            <div class="drop-list-wrapper">
                                <ul class="drop-list">
                                    <li class="drop-list-item">
                                        <span href="" class="drop-list-link">Возможности</span>
                                    </li>
                                    <li class="drop-list-item">
                                        <span href="" class="drop-list-link">Цены</span>
                                    </li>
                                    <li class="drop-list-item">
                                        <span href="" class="drop-list-link">Партнеры</span>
                                    </li>
                                    <li class="drop-list-item">
                                        <span href="" class="drop-list-link">Шаблоны</span>
                                    </li>
                                    <li class="drop-list-item">
                                        <span href="" class="drop-list-link">Модули</span>
                                    </li>
                                    <li class="drop-list-item">
                                        <span href="" class="drop-list-link">Услуги</span>
                                    </li>
                                    <li class="drop-list-last-item">
                                        <span href="" class="drop-list-link">Интеграции</span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" class="nav-list-item">Скидки</a>
                    </li>
                    <li>
                        <a href="" class="nav-list-item">Доставка и оплата</a>
                    </li>
                    <li>
                        <a href="" class="nav-list-item">Услуги</a>
                    </li>
                    <li>
                        <a href="" class="nav-list-item">Акции</a>
                    </li>
                    <li>
                        <a href="" class="nav-list-item">Блог</a>
                    </li>
                    <li>
                        <a href="" class="nav-list-item">Контакты</a>
                    </li>
                </ul>
            </nav>

            @RenderBody()

        </div>
    </div>
    <div class="footer">
        <div class="footer-1-layer">
            <div class="footer-1-layer-content">
                <span class="layer-1-text">Подписка на новости</span>
                <input type="text" class="form_input" id="name" placeholder="Ваш e-mail" required="" />
                <button id="layer-1-btn" class="layer-1-button">Подписаться</button>
            </div>
        </div>
        <div class="footer-2-layer">
            <div class="layer-2-content">
                <div class="layer-2-text">
                    <ul class="layer-2-list">
                        <li class="layer-2-list-item-1">
                            <a href="" class="layer-2-list-item-text">
                                <span class="layer-2-list-item-header">Каталог</span>
                            </a>
                        </li>
                        <li class="layer-2-list-item">
                            <a href="" class="layer-2-list-item-text">Телефоны</a>
                        </li>
                        <li class="layer-2-list-item">
                            <a href="" class="layer-2-list-item-text">Техника</a>
                        </li>
                        <li class="layer-2-list-item">
                            <a href="" class="layer-2-list-item-text">Одежда/обувь</a>
                        </li>
                        <li class="layer-2-list-item">
                            <a href="" class="layer-2-list-item-text">Детские товары</a>
                        </li>
                        <li class="layer-2-list-item">
                            <a href="" class="layer-2-list-item-text">Цветы</a>
                        </li>
                        <li class="layer-2-list-item">
                            <a href="" class="layer-2-list-item-text">Еда/напитки</a>
                        </li>
                    </ul>
                    <ul class="layer-2-list">
                        <li class="layer-2-list-item-1">
                            <a href="" class="layer-2-list-item-text">
                                <span class="layer-2-list-item-header">Информация</span>
                            </a>
                        </li>
                        <li class="layer-2-list-item">
                            <a href="" class="layer-2-list-item-text">О магазине</a>
                        </li>
                        <li class="layer-2-list-item">
                            <a href="" class="layer-2-list-item-text">Бренды</a>
                        </li>
                        <li class="layer-2-list-item">
                            <a href="" class="layer-2-list-item-text">Доставка и оплата</a>
                        </li>
                        <li class="layer-2-list-item">
                            <a href="" class="layer-2-list-item-text">Блог</a>
                        </li>
                        <li class="layer-2-list-item">
                            <a href="" class="layer-2-list-item-text">Бонусная программа</a>
                        </li>
                        <li class="layer-2-list-item">
                            <a href="" class="layer-2-list-item-text">Контакты</a>
                        </li>
                    </ul>
                    <ul class="layer-2-list">
                        <li class="layer-2-list-item-1">
                            <a href="" class="layer-2-list-item-text">
                                <span class="layer-2-list-item-header">Личный кабинет</span>
                            </a>
                        </li>
                        <li class="layer-2-list-item">
                            <a href="" class="layer-2-list-item-text">Вход</a>
                        </li>
                        <li class="layer-2-list-item">
                            <a href="" class="layer-2-list-item-text">Регистрация</a>
                        </li>
                        <li class="layer-2-list-item">
                            <a href="" class="layer-2-list-item-text">Забыли пароль?</a>
                        </li>
                    </ul>
                    <ul class="layer-2-list">
                        <li class="layer-2-list-item-1">
                            <a href="" class="layer-2-list-item-text">
                                <span class="layer-2-list-item-header">Мы в социальных сетях</span>
                            </a>
                        </li>
                        <li class="layer-2-list-item">
                            <a href="" class="layer-2-list-item-text">Вконтакте</a>
                        </li>
                        <li class="layer-2-list-item">
                            <a href="" class="layer-2-list-item-text">Фейсбук</a>
                        </li>
                        <li class="layer-2-list-item">
                            <a href="" class="layer-2-list-item-text">Твиттер</a>
                        </li>
                    </ul>
                    <div class="certificate">
                        <img src="/img/svg/gift.svg" alt="" class="gift-img">
                        <span class="gift-text">подарочный сертификат</span>
                    </div>
                </div>
                <div class="last-line">
                    <span class="l-l-text">© 2020 AdvantShop</span>
                    <div class="img-group">
                        <img src="/img/svg/023-paypal.svg" alt="" class="img-from-img-group">
                        <img src="/img/svg/koshel.svg" alt="" class="img-from-img-group">
                        <img src="/img/svg/card-mastercard.svg" alt="" class="img-from-img-group">
                        <img src="/img/svg/card-visa.svg" alt="" class="img-from-img-group">
                        <img src="/img/svg/card-mir.svg" alt="" class="img-from-img-group">
                    </div>
                    <div class="l-l-l-text">
                        <a href="" class="l-l-l-l-license">Лицензионное соглашение</a>
                        <a href="" class="l-l-l-l-politics">Политика конфиденциальности</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
